<ol>
    @for (item of chats(); track $index) {

      <li id="message-container-{{ $index }}">
        <span id="message-author-{{ $index }}">{{item.name}} :</span>
        <p id="message-{{ $index }}">{{item.message}}</p>
      </li>
    }
  </ol>
  <div id="">
    <span>Name: </span>
    <input type="text" name="name" id="input-name" [value]="newChat().name" (input)="updateName($event)">
    <span>Message: </span>
    <input type="text" name="message" id="input-message" [value]="newChat().message" (input)="updateMessage($event)">
    <button type="submit" (click)="sendMessage()">Senden</button>
  </div>