<section class="content section-chat">

  <div class="chat-presenter-container">
    <ul>
      @for (item of chats(); track $index) {
        <li id="message-container-{{ $index }}">
          <span id="message-author-{{ $index }}"><strong>{{item.name}}</strong> am {{item.createdAt}}:</span>
          <p id="message-{{ $index }}">{{item.message}}</p>
        </li>
        }
    </ul>
  </div>
  <form class="form-send-message">
    <div class="form-field-container">
      <div class="form__group field group-name">
        <input class="input__field field-name" type="text" id="name" placeholder="Name" [value]="newChat().name" (input)="updateName($event)" required/>
        <label class="input__label" for="name">Name: </label>
      </div>
      
      <div class="form__group field group-message">
        <textarea class="input__field field-message" id="message" placeholder="Message" rows="1" [value]="newChat().message" (input)="updateMessage($event)" required ></textarea>
        <label class="input__label" for="message">Message: </label>
      </div>
    </div>
    <button type="submit" (click)="sendMessage($event)">Send</button>
  </form>
</section>


